.checkboxContainer{
      margin: 40px 0 78px 140px;
      &__form{
          padding-bottom: 21px;
      }
  }

  //Tablet:
  @media (max-width:1024px),(max-width:768px){
      .checkboxContainer{
          margin: 10px 0 78px 40px;
      }
  }