html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Roboto',sans-serif;
}

//Animations:
@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}


//MIXINS
@mixin flex-column(){
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
}
@mixin flex-row(){
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
}

//Variables:
$checkBoxColor: #ABABAB;
$activeBtnColor:#F8F8F8;
//Header styles:
.header{
 @include flex-column();
 &__logo{
   text-transform: uppercase;
   font-weight: 700;
   font-size: 20px;
   margin: 40px 0 78px 140px;
 }
 &__welcomesTxt{
  margin: 40px 0 0 140px;
 }
 &__welcomesTxt-1stfloor{
  font-weight: 700;
  font-size: 32px;
}
&__welcomesTxt-2stfloor{
  font-weight: 500;
  font-size: 24px;
    }
}



//CheckBox styles:
.checkboxContainer{
  margin: 43px 0 0 140px;
  @include flex-column();

  &__form-item{
    margin: 0 15px 15px 0;
  }
}

//Category Btns styles:
.btnContainer{
  @include flex-row();
  margin: 20px 0 -5 -5px;
  width: 380px;
  height: 2px;
  text-transform: uppercase;
  &__btn{
    border: 2px solid $activeBtnColor;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: 85px;
    text-transform: uppercase;
    font-weight: 500;
    color: $checkBoxColor;
    animation: bounceIn .5s;
  }
  
}

.active{
  background:$activeBtnColor;
  color: black;
}
.nonActive{
  color: $checkBoxColor;
  border: 2px solid $activeBtnColor;
}
//RandomBtn:
.randomChekboxcantainer{
  @include flex-column();
  margin: 43px 0 0 140px;
  &__label{
    
    margin: 0 15px 5px 0;
  }
}

//SearchInputField
.searchInput{
  &__field{
    outline: none;
    height: 42px;
    min-width: 680px;
    border-radius: 10px;
    border: solid 2px black;
    font-size: 16px;
    animation: bounceIn .8s;

  }
  &__field::placeholder{
    color: $checkBoxColor;
    padding-left: 15px;
  }
}

//Get Joke btn:

.getJokeBtnContainer{
  margin: 43px 0 0 140px;
  &__item{
    width: 152px;
    height: 42px;
    border-radius:10px;
    background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
    outline:none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
} 

//Joke Card:

.jokeCardContainer{
  width: 680px;
  background: $activeBtnColor;
  border-radius: 20px;
  margin: 40px 0 78px 140px;
  padding: 60px;
}